<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BAQExecute_REST.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <BAQExecute_REST.Settings>
            <setting name="Host" serializeAs="String">
                <value>e101.sixspartners.us</value>
            </setting>
            <setting name="Instance" serializeAs="String">
                <value>ERP101500</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>epicor</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>epicor</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>443</value>
            </setting>
        </BAQExecute_REST.Settings>
    </applicationSettings>
</configuration>