<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BAQExecute.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <BAQExecute.Settings>
            <setting name="Server" serializeAs="String">
                <value>AMCLEPICOR10</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>manager</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>manager</value>
            </setting>
            <setting name="Instance" serializeAs="String">
                <value>Epicor10Pilot</value>
            </setting>
        </BAQExecute.Settings>
    </applicationSettings>
</configuration>